<style>
.input{

	width:100%;
}
</style>
<h4>Invoice</h4>
<form action="" style="position:relative;border:solid 1px black;padding:10px;width:500px;">
<input class="input" placeholder="Invoice date" type="date" name="date" >
<br><br>
<input class="input" placeholder="Invoice number" type="text" name="number">
<br>
<input class="input" value="5" type="hidden" name="customer">
<br>
<textarea class="input" name="Description" placeholder="Invoice Description"></textarea>
<br><br>
<input class="input" placeholder="Quantity" type="number" name="quantity">
<br><br>
<input class="input" placeholder="Amount" type="text" name="amount">
<br><br>
<input class="input" placeholder="Vat amount" type="text" name="vat_amount">
<br><br>
<input type="submit" name="submit">
</form>